/*Header*/
.c-header{
    .l-container{
        
    }
    &__info{
        background-color: #252525;
        ul{
            margin: auto;
            display: flex;
            color: #ccc;
            justify-content: flex-end;
            max-width: $baseWidth;
            li{
                padding: 5px 10px;
                float: left;
            }
        }
    }
}